.container{
}
.main{
    display: flex;
    height: 100vh;
}

.main .left{
    width: 20%;
    background-color: #f0f0f0;
    padding: 10px;
}

.sideBar {
    height: 100% !important;
}

.footer{
    margin-bottom: 0 !important;
}

.hashtag{
    margin: 0px 3px
}

.bucket{
    cursor: pointer;
}

.myCard{
    margin-bottom: 15px;
}